!!! 5
html
    head

        //- start bootstrap stuff

        link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap-responsive.min.css')
        script(type="text/javascript", src="http://code.jquery.com/jquery-2.0.3.min.js")
        script(type="text/javascript", src="bootstrap/js/bootstrap.js")

        //- end bootstrap stuff

        block head

    body
    #MAIN
        block #MAIN

