extends layouts/layout

append head

    title CMXCANVAS
    link(rel='stylesheet', type='text/css', href='css/cmxcanvas.css')
    script(data-main='js/cmxcanvas', src='js/vendor/require.js')
    if Id
        script.
            var ID = !{JSON.stringify(Id)};

append #MAIN   
        
    .container                           
        #canvas_container
            #leftbutton
            #centertap
            canvas#cmxcanvas(height='450px', width='800px')
            #rightbutton

    nav#footer.navbar.navbar-default(role="navigation")
        #footerContent
