extends layouts/basic

append head

    title cmxcanvas EXTENDS
    link(rel='stylesheet', type='text/css', href='css/cmxcanvas.css')
    script(type='text/javascript', src='js/jsAnimate.js')
    script(type='text/javascript', src='js/cmxcanvas.js')
    script(type='text/javascript', src='js/index.js')

append #MAIN   

    .container

        #topnav.navbar
            .navbar-inner
                a.brand(href='#')
                    | CMXCANVAS
                ul.nav
                    li
                        a(class="dropdown-toggle", data-toggle="dropdown", href="#")
                            | library
                        ul.dropdown-menu
                            each issue in issues   
                                li.readcomic(issueId=issue._id)
                                    a= issue.series.name.toUpperCase() +': ' + issue.title

        #canvas_container
            #leftbutton
            #centertap
            canvas#cmxcanvas(height='450px', width='800px')
            #rightbutton

        #footer.navbar
            .navbar-inner
                ul#toc.nav