extends layouts/basic

append head

    title CMXCANVAS----
    link(rel='stylesheet', type='text/css', href='css/cmxcanvas.css')
    script(type='text/javascript', src='js/jsAnimate.js')
    script(type='text/javascript', src='js/CmxCanvasClass.js')
    script(type='text/javascript', src='js/cmxcanvas.js')
    script(type='text/javascript', src='js/templates/tmpl.cmxcanvas.js')

append #MAIN   

        #topnav.navbar
            .navbar-inner
                .narrowernav
                    a.brand(href='#')
                        | CMXCANVAS
                    ul.nav
                        li
                            a(class="dropdown-toggle", data-toggle="dropdown", href="#")
                                | read a comic 
                                span.caret
                            ul.dropdown-menu.comicsmenu
                                each issue in issues   
                                    li.readcomic(issueId=issue._id)
                                        a= issue.series.name.toUpperCase() +': ' + issue.title
                        li
                            a(class="dropdown-toggle", data-toggle="dropdown", href="#")
                                | contact  
                                span.caret
                            ul.dropdown-menu.contactmenu
                                li
                                    a(href="http://twitter.com/roshow", target="_blank")
                                        | twitter @roshow
                                li
                                    a(href="mailto:rolando@roshow.net")
                                        | email rolando@roshow.net

                        li
                            a(class="dropdown-toggle", data-toggle="dropdown", href="#")
                                | instructions  
                                span.caret
                            ul.dropdown-menu.instructionsmenu
                                li
                                    | Tap on the right side of the image to go move forward, tap on the left side to move back. The table of contents below takes you to key panels.

        
        .container                           
            #canvas_container
                #leftbutton
                #centertap
                canvas#cmxcanvas(height='450px', width='800px')
                #rightbutton

        #footer.navbar
            .navbar-inner
                #footerContent.narrowernav
