extends layouts/basic

append head

    title cmxcanvas EXTENDS
    link(rel='stylesheet', type='text/css', href='css/cmxcanvas.css')
    script(type='text/javascript', src='js/jsAnimate.js')
    script(type='text/javascript', src='js/cmxcanvas.js')
    script(type='text/javascript', src='js/index.js')

append #MAIN   

    div.container

        ul#issues_list
            each issue in issues   
                li.btn.readcomic(issueId=issue._id)
                    =issue.series.name +': ' + issue.title

        div#canvas_container
            div#leftbutton
            div#centertap
            canvas#cmxcanvas(height='450px', width='800px')
            div#rightbutton
