!!! 5
html
  head
    title cmxCanvas
    link(rel='stylesheet', type='text/css', href='css/cmxcanvas.css')
    script(type='text/javascript', src='js/jquery-1.9.1.js')
    script(type='text/javascript', src='js/jsAnimate.js')
    script(type='text/javascript', src='js/cmxcanvas.js')
  body
    #readingarea
      #leftarrow
      #centertap
      canvas#cmxCanvas(height='450px', width='800px')
      #rightarrow
