extends layouts/layout

append head

    title CMXCANVAS

append #MAIN   
        
    #library.container 
        .row
            each issue in issues  
                .col-sm-4.issueEntry
                    a(issueId=issue._id, href="/read?id="+issue._id)
                        img.img-responsive(src=issue.thumb)
                        p
                            = issue.series.name.toUpperCase() +':'
                            br
                            = issue.title