@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
body {
  color: black;
  font-family: 'Oswald', Arial, sans-serif;
  color: navy; }
  body > div {
    min-width: 1000px; }

h1, h2, h3 {
  font-family: Futura, Arial, sans-serif; }

a, a:hover {
  color: navy; }

.container {
  min-width: 1024px;
  margin: auto;
  padding: 0; }

.btn {
  border-radius: 0; }

nav {
  cursor: pointer; }

.nav {
  border-radius: 0; }
  .nav .caret {
    border-top-color: navy;
    border-bottom-color: navy; }

.nav-wrapper, .navbar-collapse, #footer, #topnav {
  background-color: cornsilk !important; }

.nav-wrapper {
  margin: 0;
  font-family: 'Oswald', Arial, sans-serif;
  letter-spacing: 0.03em;
  border-top: 4px solid #9f000f; }
  .nav-wrapper.foot {
    border: 0; }

#CmxCanvas .nav-wrapper.foot {
  border-bottom: 4px solid #9f000f; }

#topnav {
  margin: auto;
  border-color: cornsilk; }
  #topnav button {
    min-width: 30px;
    min-height: 30px; }
  #topnav ul {
    float: right; }
  #topnav .navbar-brand {
    color: navy;
    font-size: 2.2em; }
    #topnav .navbar-brand .subBrand {
      font-size: 0.6em; }
  #topnav a {
    color: navy;
    font-size: 1.2em;
    display: block;
    min-height: 50px; }
  #topnav .nav > li .lib-Nav a {
    display: inline;
    vertical-align: text-bottom; }
  #topnav .instructionsmenu {
    padding: 10px; }
    #topnav .instructionsmenu li {
      color: black; }

#readcomic.container #canvas_container {
  position: relative;
  margin: 2% auto;
  width: 100%; }
  #readcomic.container #canvas_container #cmxcanvas {
    display: block;
    padding: 0px;
    margin: auto;
    box-shadow: -3px -3px 10px #ddd,  3px 3px 10px #ddd; }
  #readcomic.container #canvas_container #rightbutton {
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(255, 0, 0, 0); }
  #readcomic.container #canvas_container #centertap {
    width: 20%;
    height: 100%;
    top: 0;
    left: 40%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0); }
  #readcomic.container #canvas_container #leftbutton {
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 255, 0); }
  #readcomic.container #canvas_container .ui-arrow {
    top: 43%;
    font-size: 4.5em;
    color: #777777; }
    #readcomic.container #canvas_container .ui-arrow.pull-left {
      transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1); }
    #readcomic.container #canvas_container .ui-arrow:hover {
      color: black; }
    #readcomic.container #canvas_container .ui-arrow:active {
      color: #428bca; }
#readcomic.container .arrow {
  position: relative;
  line-height: 450px;
  vertical-align: middle; }

#footer {
  margin: auto;
  border-color: cornsilk;
  color: navy; }
  #footer a.navbar-brand {
    color: navy;
    padding-top: 5px;
    padding-bottom: 5px; }
  #footer .moreinfoBtn {
    margin: 5px 0; }
    #footer .moreinfoBtn span.caret {
      vertical-align: middle; }
      #footer .moreinfoBtn span.caret.reverse {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg); }
    #footer .moreinfoBtn a:hover {
      color: black; }
  #footer #moreinfo {
    min-width: 1024px;
    margin: auto;
    clear: both;
    max-height: 0px;
    overflow: hidden;
    -moz-transition: max-height 0.25s ease;
    -webkit-transition: max-height 0.25s ease;
    -o-transition: max-height 0.25s ease;
    transition: max-height 0.25s ease; }
    #footer #moreinfo.open {
      max-height: 250px;
      /*padding-top: 10px;
      box-shadow: inset 0 3px 6px rgba(0,0,160, 0.2);*/ }
    #footer #moreinfo .issueDetails li {
      display: block; }
  #footer #toc .active a {
    color: cornsilk;
    background-color: navy; }

#library.container {
  padding-top: 1%; }
  #library.container .issueEntry {
    position: relative;
    height: 100%;
    color: black;
    text-align: center;
    cursor: pointer; }
    #library.container .issueEntry a {
      color: black; }
      #library.container .issueEntry a:hover {
        color: #428bca; }
      #library.container .issueEntry a img {
        display: block;
        margin: auto;
        border: 5px solid black;
        margin: 8% auto 6% auto;
        padding: 2%;
        width: 70%;
        background-color: white; }
        #library.container .issueEntry a img:hover {
          border-color: #428bca; }
      #library.container .issueEntry a p {
        padding-bottom: 4%;
        font-size: 1.25em;
        font-weight: bold;
        line-height: 1.2em; }
