body {
  background-color: #bbbbbb;
  color: white;
  font-family: Futura, Arial, sans-serif;
  font-size: 100%;
  min-width: 960px;
  padding: 0px; }

a, a:hover {
  text-decoration: none; }

.navbar {
  cursor: pointer; }
  .navbar .navbar-inner {
    border-radius: 0; }

.btn {
  border-radius: 0; }

.narrowernav {
  max-width: 940px;
  margin: auto; }

#topnav span.caret {
  border-top-color: black;
  border-bottom-color: black; }
#topnav .comicsmenu {
  margin-left: 105px; }
#topnav .contactmenu {
  margin-left: 202px; }

.container #canvas_container {
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%; }
  .container #canvas_container #cmxcanvas {
    display: block;
    padding: 0px;
    width: 800px;
    height: 450px;
    margin: auto;
    border: 1px solid grey; }
  .container #canvas_container #rightbutton {
    width: 40%;
    height: 100%;
    top: 0;
    left: 60%;
    position: absolute;
    background-color: rgba(255, 0, 0, 0); }
  .container #canvas_container #centertap {
    width: 20%;
    height: 100%;
    top: 0;
    left: 40%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0); }
  .container #canvas_container #leftbutton {
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 255, 0); }

#footer .moreinfoBtn {
  margin: 5px 0; }
  #footer .moreinfoBtn span.caret {
    vertical-align: middle; }
    #footer .moreinfoBtn span.caret.reverse {
      transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }
  #footer .moreinfoBtn a {
    color: #777777; }
    #footer .moreinfoBtn a:hover {
      color: black; }
#footer #moreinfo {
  max-height: 0px;
  overflow: hidden;
  -moz-transition: max-height 0.25s ease;
  -webkit-transition: max-height 0.25s ease;
  -o-transition: max-height 0.25s ease;
  transition: max-height 0.25s ease; }
  #footer #moreinfo.open {
    max-height: 100px; }
  #footer #moreinfo .issueDetails {
    color: #777777; }
    #footer #moreinfo .issueDetails li {
      display: block; }
