@charset 'UTF-8';

/*cmxCanvas.css
Rolando Garcia, roshow.net*/

body {
	background-color: #bbbbbb;
	color: white;
	font-family: Futura, Arial, sans-serif;
	font-size: 1em;
	min-width: 960px;
	padding: 0px;
}

a {
	text-decoration: none;
}

.nav {
	background-color: #373A3E;
	display: block;
	border-radius: 5px;
}

ul {
	list-style-type: none;
	margin: 0px;

}

ul li {
	display: inline-block;
	background-color: black;
	text-align: center;
	padding: 0px 15px 0px 15px;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	margin-right: 1px;
	border: 1px solid #373A3E;
	border-radius: 2.5px;
}

#nav_top {
	margin-bottom: 25px;
}

#nav_bottom {
	margin-top: 25px;
}
	
	#info_btn {
		min-width: 75px;
	}

	#nav_bottom > ul li {
		border: 1px solid #373A3E;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	
#readingarea {
	margin: auto;
	display: block;
	width:960px;
	height: 450px;
	overflow: hidden;
	padding: 0px;
	position: relative;
}

#cmxCanvas {
    /*background-color: white;*/
    display: block;
    padding: 0px;
    width: 800px;
    height: 450px;
    margin: auto;
}

/*#rightarrow {
	width: 0; 
	height: 0; 
	display: inline-block;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 50px solid;
	border-left-color: #373A3E;
	margin: 0px 0px 175px 0px;
}

#leftarrow {
	width: 0; 
	height: 0; 
	display: inline-block;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-right: 50px solid;
	border-right-color: #373A3E;
	margin: 0px 0px 175px 0px;
}*/

#rightarrow {
	width: 40%;
	height: 100%;
	display: block;
	top: 0;
	left: 60%;
	position: absolute;
	background-color: rgba(255, 0, 0, 0);
}

#centertap {
	width: 20%;
	height: 100%;
	display: block;
	top: 0;
	left: 40%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
}

#leftarrow {
	width: 40%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0, 0, 255, 0);
}

#creditblock {
	display: block;
	background-color: #373A3E;
	color: white;
	padding: 5px 0px;
	text-align: center;
	border-radius: 5px;
}

	#creditblock > a {
		color: #cccccc;
		padding: 0px 2px;
	}

	#creditblock > a:hover {
		background-color: #bbbbbb;
		color: #373A3E;
	}

#title {
	float:right;
	margin-right: 20px;
}

@media only screen and (max-device-width: 480px) {
	body {
		font-size: 1.5em
	}
	ul li {
		min-height: 70px;
		min-width:70px;
		line-height:70px;
	}
}
